<div class="about-box">
  <div class="row">
    <div class="col-lg-4">
      <div class="about-img-box">
        <img src="../images/neerajbharti.jpg" class="about-img" />
      </div>
    </div>
    <div class="col-lg-8">
      <div class="about-info">
        <div class="about-name">NEERAJ BHARTI</div>
        <div class="about-me">
          I am an open book. Being an engineer I love too implement new things
          in a unique way as I studied Electrical Engineering and Computer 
          Science & Engineering, so I always explore things in that field of 
          interest. Additionly, currently i am pursuing an Advance Diploma 
          in Health Informatics Technology and loves to fly over the sky. 
          
        </div>
        <div class="about-btn">
          <a
            class="btn btn-primary hero-about-btn"
            href="/projects"
            role="button"
            > My Projects</a
          >
          <a
            class="btn btn-info hero-about-btn"
            href="./assets/Neeraj Resume.pdf"
            role="button"
            target="_blank"
            >My CV</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
