<div class="contact-box">
  <div class="container">
    <div class="contact-details">
      <a href="mailto:neerajb43@gmail.com" >
       <div class="contect-details-text">neerajb43@gmail.com</div></a>
      <a href="tel:+91-7404030939" class="contect-details-text">+91-7404030939 </a>
      <a href="/" class="contect-details-text">Kurukshetra, Haryana, India</a>
    </div>      
        <form class="contact-form">            
            <input
              type="name"
              name="text"
              placeholder="Your First Name"
              class="contact-firstName "
            />
            <input
            type="name"
            name="text"
            placeholder="Your Last Name"
            class="contact-lastName"
          />
            <input
              type="tel"
              name="number"
              placeholder="Your Mobile Number"
              class="contact-tel "
            />         
            <input
              type="email"
              name="email"
              placeholder="Your Email ID"
              class="contact-email "
            />
            <textarea
              placeholder="Your Important Message to me"
              class="contact-textarea "
            ></textarea>      
            <a
            class="btn btn-primary contact-btn "
            href="/"
            role="button"
            >SEND</a
          >  
      </form>
    </div>
  </div>
</div>
