<div class="hero-box">
  <div class="hero-welcome">Welcome in this World of</div>
  <div class="hero-title">Neeraj Bharti</div>
  <div class="hero-mission">
    The world is full of hurdles. Be the champ by building on yourself  </div>
  <a class="btn btn-primary hero-about-btn" href="/about" role="button"
    >About Neeraj</a
  >
  <a class="btn btn-dark hero-about-btn" href="/user/login" role="button"
    >Login</a>
</div>
