<div class="project-box">
  <div class="row">
    <div class="col-lg-4">
      <div class="card" style="width: 18rem">
        <img class="card-img-top" src="./images/dispensary.jpg" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">MOBILE DISPENSARY</h5>
          <p class="card-text">
            It is an application which helps the people to buy the  medicines online with the help of prescription they have.
          </p>
          <h6>
            Languages Used for Coding
          </h6>
          <p> React Native for iOS and Android  </p>
          
        </div>
      </div>
    </div>
    
    <div class="col-lg-4">
      <div class="card" style="width: 18rem">
        <img class="card-img-top" src="./images/pizza.jpg" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">PIZZA APP</h5>
          <p class="card-text">
            It is an application for the local pizza store for the sales of the Pizza's.
          </p>
          <h6>Languages Used for Coding 
          </h6>
          <p> C#, .net</p>
          
        </div>
      </div>
    </div>
   
   
    <div class="col-lg-3">
      <div class="card" style="width: 18rem">
        <img class="card-img-top" src="./images/college.png" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">COLLEGE APPLICATION</h5>
          <p class="card-text">
            I made a college desktop application somehow similar to my college Web applcation with best UI.
          <h6>Languages Used for Coding</h6>
          <p>J2SE, J2EE</p>
                  </div>
      </div>
    </div>
  </div>
</div>
