<div class="services-box">
  <div class="row">
    <div class="col-lg-6">
      <div class="card" style="width: 28rem">
        <img
          class="card-img-top"
          src="./images/health.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">HIT SOFTWARE DEVELOPMENT</h5>
          <p class="card-text">
            BEING a learner and developer I can help and build
            health care softwares as per the current requirements
            of the market and as per the standard of Govt of Canada.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card" style="width: 28rem">
        <img class="card-img-top" src="./images/design.png" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">HEALTH APP DESIGNING CONSULTANT</h5>
          <p class="card-text">
            AS i am a learing about the technologies used in Healthcare System 
            in this modern world, so that I can 
            guide anyone in a better for the design of the Healthcare App.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
